
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    
    mark {
      background-color: yellow;
      color: black;
      font-weight: bold;
    }
    p.notes {
      font-size: 12px;
      font-style: italic;
      padding-top: 15px;
    }
    
    .sentences {

      font-size: 16px;
    }


    .bookContents{

      font-family: Georgia;
      font-size: 24px;

    }


    .clickableSpan:hover{
      background-color: yellow;
      color: black;
      
    }


    span.def_phonetic {
      font-size: 18px;
      color: gray;
    }


    span.def_headword {
      font-size: 22px;
      
    }


    span.def_category {
      font-size: 18px;
      color: green;
      
    }


     p.def_content {
      font-size: 18px;
      font-family: Georgia;
    }